<table>
  <thead>
    <tr ng-repeat="col in columnDefs">
      <td>
	{{col.name | mmTitlecase}}
      </td>
    </tr>
  </thead>
  <tr ng-repeat="row in gridData">
    <td ng-repeat="col in columnDefs">
      <span ng-if="!row.isEditing">{{row[col.name]}}</span>
      <input ng-if="row.isEditing" type="{{col.inputtype}}" ng-model="row[col.name]" />
    </td>
    <td>
      <button ng-if="!row.isEditing" ng-click="editRow($index, row)">Edit</button>
      <button ng-if="row.isEditing" ng-click="saveRow($index, row)">Save</button>
      <button ng-if="row.isEditing" ng-click="cancelRow($index, row)">Cancel</button>
      <button ng-click="newRow(gridData, $index, row)">New</button>
    </td>
  </tr>
</table>
